main {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.widget-wrapper {
    padding-bottom: 2rem;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 2rem;
}

.list-group-item.active {
    background-color: #a3b0c2;
    border-color: #a3b0c2
}

.list-group-item:not(.active) {
    color: #222;
}

.list-group-item:not(.active):hover {
    color: #666;
}

.card {
    font-weight: 300;
}
