description = "3 Column Blog"

[viewBag]
==
<div class="row mt-5 wow fadeIn" data-wow-delay="0.2s">

    {% for post in posts %}
    <div class="col-lg-4">

        <!--Card-->
        <div class="card hoverable mb-r">
            {% set image = post.featured_images.first %}
            <!--Card image-->
            <a href="{{ post.url }}">
                <img data-src="{{ image.filename }}" src="{{ image.path }}" class="img-fluid" alt="{{ image.description }}">
            </a>

            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title dark-grey-text">
                    <strong>{{ post.title }}</strong>
                </h4>
                <h6 class="blue-text font-small font-bold">
                    <strong>{{ post.published_at|date('M d, Y') }}</strong>
                </h6>
                <!--Text-->
                <p class="card-text">{{ post.summary|raw }}</p>
                <a href="{{ post.url }}" class="btn btn-primary btn-md">Button</a>
            </div>

        </div>
        <!--/.Card-->

    </div>
    {% endfor %}
    
</div>